.schedule {
  display: flex;
  align-items: center;

  &__icon {
    background-image: url('img/header/clock-icon.svg');
  }

  &__text {
    @include margin-left-vw(12);
    @include font-vw(16);

    letter-spacing: 0.05em;
  }
}
