.success {
  @include font-vw(30);

  letter-spacing: 0.025em;
  text-align: center;
  background-image: url('img/popup/popup-success-bgr.png');
  background-size: cover;
  border: 0.05208vw solid $lighter;
  border-radius: 2.60417vw;

  @media screen and (max-width: $bp-lg) {
    font-size: 21px;
    border: 1px solid #fbeeef;
    border-radius: 40px;
  }

  &__icon {
    @include size-vw(90, 90);
    @include margin-bottom-vw(20);

    @media screen and (max-width: $bp-lg) {
      width: 60px;
      height: 60px;
      margin-bottom: 10px;
    }
  }

  &__title {
    font-weight: 700;

    @include margin-bottom-vw(5);
  }

  &__subtitle {
    font-weight: 300;
  }
}
