.list {
  @include font-vw(18);

  line-height: 2;
  letter-spacing: 0.025em;

  @media screen and (max-width: $bp-xs) {
    line-height: 1.5;
  }

  &__item {
    @include padding-left-vw(37);

    @media screen and (max-width: $bp-lg) {
      padding-left: 17px;
    }

    position: relative;

    &::before {
      @include size-vw(9, 9);

      position: absolute;
      top: 0.5vw;
      left: 0.4vw;
      display: block;
      background-color: $white;
      background-color: $attention-light;
      border-color: $greyish-white;
      border-style: solid;
      border-width: 0.2vw;
      border-radius: 50%;
      box-shadow: 0 0 0.67vw $attention-shadow;
      content: '';

      @media screen and (max-width: $bp-lg) {
        top: 50%;
        left: -5px;
        width: 0.5em;
        height: 0.5em;
        border-width: 4px;
        box-shadow: 0 0 5px $attention-shadow;
        transform: translateY(-50%);
      }
    }
  }
}
