$primary: #282828;
$attention: #ff6078;
$attention-light: #ef9499;
$attention-shadow: #ef959961;
$success: #27b24b;
$light: #fefcfb;
$shadow: #ebeaea;
$white: #fff;
$lighter: #fbeeef;
$greyish-white: #f7f7fb;
$close: #c3c4c7;
$form-input-text: #989797;

$btn-gradient: linear-gradient(to top, rgb(238, 133, 140) 0%, rgb(244, 161, 164) 55%, rgb(250, 188, 188) 98%);
$btn-shadow: #d7747a;
$font-primary: 'Museo Sans Cyrl',
  sans-serif;

$bp-lg: 993px;
$bp-prelg: 935px;
$bp-md: 835px;
$bp-sm: 698px;
$bp-xs: 491px;
