header.header
  img.heart.heart__left(src='/img/header/heart-left.png' alt="")
  img.heart.heart__mid(src='/img/header/heart-mid.png' alt="")
  img.heart.heart__right(src='/img/header/heart-right.png' alt="")
  .header__info
    a.logo.header__logo(href='#')
      img(src="./img/header/logo.png", alt="Студия депиляции")
    span.header__brief Студия депиляции и массажный кабинет в Бресте
    .map
      .map__icon
      .map__text Мы находимся в центре:<br>
        span.bold г. Брест, ул. Гоголя, д.65<br>
        .map__show
          span Смотреть на карте
          .map__yandex
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ad28f2279f8bc34008ef0d648593021a59091064b49cae61f1c7853bf96616dc3&amp;source=constructor" width="395" height="285" frameborder="0"></iframe>
    .contacts.header__contacts
      .phone
        .icon.icon_size_normal.phone__icon
        span.phone__text
          span.phone__indicator
          span Звоните, мы сейчас работаем<br>
            a.phone__number(href="tel:+375333822499") +375 33 382 24 99
      .schedule.contacts__schedule
        .icon.icon_size_normal.schedule__icon
        span.schedule__text Пн-Вс
          span.bold  9:00-21:00
    .header__booking
      button.btn.btn_style_light.btn_size_sm Записаться онлайн
  nav.nav.header__nav
    each item in ['Главная', 'Шугаринг и депиляция воском', 'Антицеллюлитный массаж', 'Классический массаж', 'Обучение', 'Косметика для мастеров', 'Статьи', 'О студии', 'Контакты']
      a.nav__item= item
  h1.title.header__title Хотите избавиться от<br>
    span.bold нежелательных волос<br>
    | или нужен сеанс<br>
    span.bold антицеллюлитного массажа?
  ul.list.header__list
    li.list__item депиляция воском и Шугаринг;
    li.list__item профессиональные сертифицированные мастера;
    li.list__item работаем и с женщинами, и с мужчинами;
    li.list__item результат уже после первой процедуры.
  button.btn.header__btn.btn_style_pink.btn_with_branch.btn_size_md Получить карту<br>клиента бесплатно
    img(src="./img/header/branch.png", alt="")
  .client-card.header__client-card
    img.client-card__img(src="img/header/client-card.png", alt="")
    .client-card__icon
      img(src="img/header/client-card-icon.png", alt="")
      .client-card__info
        span Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
  .header__arrow-down
    svg(viewBox="0 0 120 120" version="1.1" xmlns="http://www.w3.org/2000/svg")
      circle(cx="60" cy="60" r="50")
    svg(viewBox="0 0 120 120" version="1.1" xmlns="http://www.w3.org/2000/svg")
      circle(cx="60" cy="60" r="50")
    svg(viewBox="0 0 120 120" version="1.1" xmlns="http://www.w3.org/2000/svg")
      circle(cx="60" cy="60" r="50")
  img.header__wave(src='img/header/header-wave.svg' alt="")
